In [168]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [70]:
# create session
spark = SparkSession \
    .builder \
    .appName("Wrangling covid19 data") \
    .getOrCreate()

In [72]:
path = "data/jantojun2020.csv"
df = spark.read.csv(path,header=True)

In [73]:
df.count()

2745847

In [8]:
df.printSchema()

root
 |-- YEAR: string (nullable = true)
 |-- QUARTER: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY_OF_MONTH: string (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- FL_DATE: string (nullable = true)
 |-- MKT_UNIQUE_CARRIER: string (nullable = true)
 |-- MKT_CARRIER_FL_NUM: string (nullable = true)
 |-- TAIL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- ORIGIN_CITY_NAME: string (nullable = true)
 |-- ORIGIN_STATE_ABR: string (nullable = true)
 |-- ORIGIN_STATE_NM: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- DEST_CITY_NAME: string (nullable = true)
 |-- DEST_STATE_ABR: string (nullable = true)
 |-- DEST_STATE_NM: string (nullable = true)
 |-- CRS_DEP_TIME: string (nullable = true)
 |-- DEP_TIME: string (nullable = true)
 |-- DEP_DELAY: string (nullable = true)
 |-- DEP_DELAY_NEW: string (nullable = true)
 |-- DEP_DEL15: string (nullable = true)
 |-- DEP_DELAY_GROUP: string (nullable = true)
 |-- DEP_TIME_BLK: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- CRS_ARR_TIME: string (nullable = true)
 |-- ARR_TIME: string (nullable = true)
 |-- ARR_DELAY: string (nullable = true)
 |-- ARR_DELAY_NEW: string (nullable = true)
 |-- ARR_DEL15: string (nullable = true)
 |-- ARR_DELAY_GROUP: string (nullable = true)
 |-- ARR_TIME_BLK: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- CRS_ELAPSED_TIME: string (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- DISTANCE_GROUP: string (nullable = true)
 |-- CARRIER_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)
 |-- NAS_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)

In [9]:
df.show(5)

+----+-------+-----+------------+-----------+--------+------------------+------------------+--------+------+----------------+----------------+---------------+----+-----------------+--------------+-------------+------------+--------+---------+-------------+---------+---------------+------------+--------+----------+---------+-------+------------+--------+---------+-------------+---------+---------------+------------+---------+-----------------+----------------+-------------------+--------+--------+--------------+-------------+-------------+---------+--------------+-------------------+
|YEAR|QUARTER|MONTH|DAY_OF_MONTH|DAY_OF_WEEK| FL_DATE|MKT_UNIQUE_CARRIER|MKT_CARRIER_FL_NUM|TAIL_NUM|ORIGIN|ORIGIN_CITY_NAME|ORIGIN_STATE_ABR|ORIGIN_STATE_NM|DEST|   DEST_CITY_NAME|DEST_STATE_ABR|DEST_STATE_NM|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|DEP_DELAY_NEW|DEP_DEL15|DEP_DELAY_GROUP|DEP_TIME_BLK|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|ARR_DELAY_NEW|ARR_DEL15|ARR_DELAY_GROUP|ARR_TIME_BLK|CANCELLED|CANCELLATION_CODE|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|DISTANCE_GROUP|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|
+----+-------+-----+------------+-----------+--------+------------------+------------------+--------+------+----------------+----------------+---------------+----+-----------------+--------------+-------------+------------+--------+---------+-------------+---------+---------------+------------+--------+----------+---------+-------+------------+--------+---------+-------------+---------+---------------+------------+---------+-----------------+----------------+-------------------+--------+--------+--------------+-------------+-------------+---------+--------------+-------------------+
|2020|      1|    1|           1|          3|1/1/2020|                WN|              5888|  N951WN|   ONT|     Ontario, CA|              CA|     California| SFO|San Francisco, CA|            CA|   California|        1810|  1851.0|     41.0|         41.0|      1.0|            2.0|   1800-1859|    44.0|    1935.0|   2049.0|    4.0|        1945|  2053.0|     68.0|         68.0|      1.0|            4.0|   1900-1959|        0|             null|            95.0|              122.0|    74.0|     363|             2|          8.0|          0.0|     27.0|           0.0|               33.0|
|2020|      1|    1|           1|          3|1/1/2020|                WN|              6276|  N467WN|   ONT|     Ontario, CA|              CA|     California| SFO|San Francisco, CA|            CA|   California|        1150|  1146.0|     -4.0|          0.0|      0.0|           -1.0|   1100-1159|    13.0|    1159.0|   1310.0|    8.0|        1320|  1318.0|     -2.0|          0.0|      0.0|           -1.0|   1300-1359|        0|             null|            90.0|               92.0|    71.0|     363|             2|         null|         null|     null|          null|               null|
|2020|      1|    1|           1|          3|1/1/2020|                WN|              4598|  N7885A|   ONT|     Ontario, CA|              CA|     California| SJC|     San Jose, CA|            CA|   California|        2020|  2016.0|     -4.0|          0.0|      0.0|           -1.0|   2000-2059|     8.0|    2024.0|   2121.0|    3.0|        2130|  2124.0|     -6.0|          0.0|      0.0|           -1.0|   2100-2159|        0|             null|            70.0|               68.0|    57.0|     333|             2|         null|         null|     null|          null|               null|
|2020|      1|    1|           1|          3|1/1/2020|                WN|              4761|  N551WN|   ONT|     Ontario, CA|              CA|     California| SJC|     San Jose, CA|            CA|   California|        1340|  1350.0|     10.0|         10.0|      0.0|            0.0|   1300-1359|    10.0|    1400.0|   1503.0|    2.0|        1455|  1505.0|     10.0|         10.0|      0.0|            0.0|   1400-1459|        0|             null|            75.0|               75.0|    63.0|     333|             2|         null|         null|     null|          null|               null|
|2020|      1|    1|           1|          3|1/1/2020|                WN|              5162|  N968WN|   ONT|     Ontario, CA|              CA|     California| SJC|     San Jose, CA|            CA|   California|         915|   916.0|      1.0|          1.0|      0.0|            0.0|   0900-0959|     6.0|     922.0|   1019.0|    4.0|        1035|  1023.0|    -12.0|          0.0|      0.0|           -1.0|   1000-1059|        0|             null|            80.0|               67.0|    57.0|     333|             2|         null|         null|     null|          null|               null|
+----+-------+-----+------------+-----------+--------+------------------+------------------+--------+------+----------------+----------------+---------------+----+-----------------+--------------+-------------+------------+--------+---------+-------------+---------+---------------+------------+--------+----------+---------+-------+------------+--------+---------+-------------+---------+---------------+------------+---------+-----------------+----------------+-------------------+--------+--------+--------------+-------------+-------------+---------+--------------+-------------------+
only showing top 5 rows

In [12]:
df.take(1)

[Row(YEAR='2020', QUARTER='1', MONTH='1', DAY_OF_MONTH='1', DAY_OF_WEEK='3', FL_DATE='1/1/2020', MKT_UNIQUE_CARRIER='WN', MKT_CARRIER_FL_NUM='5888', TAIL_NUM='N951WN', ORIGIN='ONT', ORIGIN_CITY_NAME='Ontario, CA', ORIGIN_STATE_ABR='CA', ORIGIN_STATE_NM='California', DEST='SFO', DEST_CITY_NAME='San Francisco, CA', DEST_STATE_ABR='CA', DEST_STATE_NM='California', CRS_DEP_TIME='1810', DEP_TIME='1851.0', DEP_DELAY='41.0', DEP_DELAY_NEW='41.0', DEP_DEL15='1.0', DEP_DELAY_GROUP='2.0', DEP_TIME_BLK='1800-1859', TAXI_OUT='44.0', WHEELS_OFF='1935.0', WHEELS_ON='2049.0', TAXI_IN='4.0', CRS_ARR_TIME='1945', ARR_TIME='2053.0', ARR_DELAY='68.0', ARR_DELAY_NEW='68.0', ARR_DEL15='1.0', ARR_DELAY_GROUP='4.0', ARR_TIME_BLK='1900-1959', CANCELLED='0', CANCELLATION_CODE=None, CRS_ELAPSED_TIME='95.0', ACTUAL_ELAPSED_TIME='122.0', AIR_TIME='74.0', DISTANCE='363', DISTANCE_GROUP='2', CARRIER_DELAY='8.0', WEATHER_DELAY='0.0', NAS_DELAY='27.0', SECURITY_DELAY='0.0', LATE_AIRCRAFT_DELAY='33.0')]

In [14]:
df.columns

['YEAR',
 'QUARTER',
 'MONTH',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'FL_DATE',
 'MKT_UNIQUE_CARRIER',
 'MKT_CARRIER_FL_NUM',
 'TAIL_NUM',
 'ORIGIN',
 'ORIGIN_CITY_NAME',
 'ORIGIN_STATE_ABR',
 'ORIGIN_STATE_NM',
 'DEST',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'DEST_STATE_NM',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'DEP_DELAY_NEW',
 'DEP_DEL15',
 'DEP_DELAY_GROUP',
 'DEP_TIME_BLK',
 'TAXI_OUT',
 'WHEELS_OFF',
 'WHEELS_ON',
 'TAXI_IN',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ARR_DELAY',
 'ARR_DELAY_NEW',
 'ARR_DEL15',
 'ARR_DELAY_GROUP',
 'ARR_TIME_BLK',
 'CANCELLED',
 'CANCELLATION_CODE',
 'CRS_ELAPSED_TIME',
 'ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'DISTANCE_GROUP',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY']

In [5]:
def create_airline_code(path):
    with open(path) as f:
        content = f.readlines()
        content = [x.strip() for x in content]
        airline = content[10:20]
        splitted_airline = [c.split(":") for c in country]
        c_country = [x[0].replace("'","").strip() for x in splitted_country]
        country_name = [x[1].replace("'","").strip() for x in splitted_country]
        country_df = pd.DataFrame({"c_country" : c_country, "country_name": country_name})
        return country_df.to_csv("Data/country.csv")

In [1]:
path = "data/ColumnDescriptions.txt"

In [6]:
with open(path) as f:
    content = f.readlines()
    content = [x.strip() for x in content]
    airline = content[10:20]
    splitted_airline = [c.split(":") for c in airline]

In [19]:
content

['Note:\t- All time is LOCAL time for departures and arrivals.',
 '- If Single or 2-Digit Values are present for a Time Value, they represent 00:MM (e.g. 3 represents 00:03 or 12:03 AM).',
 '',
 'YEAR \t\t\t- Year',
 'QUARTER \t\t- 1: Jan-Mar, 2: Apr-Jun, 3: Jul-Sep, 4: Oct-Dec',
 'MONTH \t\t\t- Month of Year',
 'DAY_OF_MONTH \t\t- Date of Month',
 'DAY_OF_WEEK \t\t- Day of Week (1: Monday, 7: Sunday)',
 'FL_DATE \t\t- Full flight date (M/DD/YYYY)',
 'MKT_UNIQUE_CARRIER\t- Airline Carrier Code:',
 'AA: American Airlines',
 'AS: Alaska Airlines',
 'B6: JetBlue',
 'DL: Delta Air Lines',
 'F9: Frontier Airlines',
 'G4: Allegiant Air',
 'HA: Hawaiian Airlines',
 'NK: Spirit Airlines',
 'UA: United Airlines',
 'WN: Southwest Airlines',
 'MKT_CARRIER_FL_NUM\t- Flight Number',
 "TAIL_NUM\t\t- Aircraft Tail Number (Usually starts with 'N')",
 'ORIGIN\t\t\t- Flight Departure 3-Letter Airport Abbreviation',
 'ORIGIN_CITY_NAME\t- Flight Departure City, State Names',
 'ORIGIN_STATE_ABR\t- Flight Departure 2-Letter State Abbreviation',
 'ORIGIN_STATE_NM\t\t- Flight Departure State Name',
 'DEST\t\t\t- Flight Arrival 3-Letter Airport Abbreviation',
 'DEST_CITY_NAME\t\t- Flight Arrival City, State Names',
 'DEST_STATE_ABR\t\t- Flight Arrival 2-Letter State Abbreviation',
 'DEST_STATE_NM\t\t- Flight Arrival State Name',
 'CRS_DEP_TIME\t\t- Scheduled Departure Time (HHMM) (Single or 2-Digit Values Represent 00:MM, e.g. 3 represents 00:03 or 12:03 AM)',
 'DEP_TIME\t\t- Actual Departure Time (HHMM)',
 'DEP_DELAY\t\t- Departure Delay (Difference Between Actual Departure Time and Scheduled Departure Time in Minutes)',
 'DEP_DELAY_NEW\t\t- Departure Delay Ignoring Early Departures (Listed as 0)',
 'DEP_DEL15\t\t- Departure Delay Greater Than 15 Minutes (0: Not Greater Than 15, 1: Greater Than 15)',
 'DEP_DELAY_GROUP\t\t- Departure Delay in Number of 15-minute increments Rounded Down (e.g. Early Departure (< 0) is a value of -1, 30 or 42 minutes is a value of 2)',
 'DEP_TIME_BLK\t\t- Scheduled Departure Time in Hourly Block (HHMM)',
 'TAXI_OUT\t\t- Time between Airplane Taxi from Gate and Takeoff (WHEELS_OFF) Time (in Minutes)',
 'WHEELS_OFF\t\t- Time of Airplane Takeoff (HHMM)',
 'WHEELS_ON\t\t- Time of Airplane Landing (HHMM)',
 'TAXI_IN\t\t\t- Time between Airplane Taxi to Gate and Landing (WHEELS_ON) Time (in Minutes)',
 'CRS_ARR_TIME\t\t- Scheduled Arrival Time (HHMM) (Single or 2-Digit Values Represent 00:MM, e.g. 3 represents 00:03 or 12:03 AM)',
 'ARR_TIME\t\t- Actual Arrival Time (HHMM)',
 'ARR_DELAY\t\t- Arrival Delay (Difference Between Actual Arrival Time and Scheduled Arrival Time in Minutes)',
 'ARR_DELAY_NEW\t\t- Arrival Delay Ignoring Early Arrivals (Listed as 0)',
 'ARR_DEL15\t\t- Arrival Delay Greater Than 15 Minutes (0: Not Greater Than 15, 1: Greater Than 15)',
 'ARR_DELAY_GROUP\t\t- Arrival Delay in Number of 15-minute increments Rounded Down (e.g. Early Arrival (< 0) is a value of -1, 30 or 42 minutes is a value of 2)',
 'ARR_TIME_BLK\t\t- Scheduled Arrival Time in Hourly Block (HHMM)',
 'CANCELLED\t\t- 0: Flight Not Cancelled, 1: Flight Cancelled',
 'CANCELLATION_CODE\t- Reason for Cancellation - if Cancelled, Letter Present (A: Carrier, B: Weather, C: National Aviation System, D: Security)',
 'CRS_ELAPSED_TIME\t- Scheduled Total Flight Time (in Minutes)',
 'ACTUAL_ELAPSED_TIME\t- Actual Total Elapsed Flight Time (in Minutes)',
 'AIR_TIME\t\t- Actual Total Elapsed Time Airplane in the Air (in Minutes)',
 'DISTANCE\t\t- Distance Between Departure and Arrival Airports (in Miles)',
 'DISTANCE_GROUP\t\t- Distance Between Departure and Arrival Airports in Number of 250-Mile increments Rounded Down (e.g. 400 miles is a value of 1)',
 'CARRIER_DELAY\t\t- Carrier Delay (in Minutes)',
 'WEATHER_DELAY\t\t- Weather Delay (in Minutes)',
 'NAS_DELAY\t\t- National Aviation System Delay (in Minutes)',
 'SECURITY_DELAY\t\t- Security Delay (in Minutes)',
 'LATE_AIRCRAFT_DELAY\t- Late Aircraft Delay (in Minutes)',
 '']

In [7]:
splitted_airline

[['AA', ' American Airlines'],
 ['AS', ' Alaska Airlines'],
 ['B6', ' JetBlue'],
 ['DL', ' Delta Air Lines'],
 ['F9', ' Frontier Airlines'],
 ['G4', ' Allegiant Air'],
 ['HA', ' Hawaiian Airlines'],
 ['NK', ' Spirit Airlines'],
 ['UA', ' United Airlines'],
 ['WN', ' Southwest Airlines']]

In [8]:
c_airline = [x[0].replace("'","").strip() for x in splitted_airline]

In [9]:
c_airline

['AA', 'AS', 'B6', 'DL', 'F9', 'G4', 'HA', 'NK', 'UA', 'WN']

In [10]:
airline_name = [x[1].replace("'","").strip() for x in splitted_airline]

In [12]:
import pandas as pd

In [13]:
airline_df = pd.DataFrame({"c_airline" : c_airline, "airline_name": airline_name})

In [14]:
airline_df

  c_airline        airline_name
0        AA   American Airlines
1        AS     Alaska Airlines
2        B6             JetBlue
3        DL     Delta Air Lines
4        F9   Frontier Airlines
5        G4       Allegiant Air
6        HA   Hawaiian Airlines
7        NK     Spirit Airlines
8        UA     United Airlines
9        WN  Southwest Airlines

In [17]:
def create_airline_code(path):
    with open(path) as f:
        content = f.readlines()
        content = [x.strip() for x in content]
        airline = content[10:20]
        splitted_airline = [c.split(":") for c in airline]
        c_airline = [x[0].replace("'","").strip() for x in splitted_airline]
        airline_name = [x[1].replace("'","").strip() for x in splitted_airline]
        airline_df = pd.DataFrame({"c_airline" : c_airline, "airline_name": airline_name})
        return airline_df.to_csv("data/airline.csv")

In [18]:
create_airline_code(path)

In [20]:
def create_cancelation_code(path):
    with open(path) as f:
        content = f.readlines()
        content = [x.strip() for x in content]
        cancel = [re.search('\(([^)]+)', content[49]).group(1)][0].split(",")
        splitted_cancel = [c.split(":") for c in cancel]
        c_cancel = [x[0].replace("'","").strip() for x in splitted_cancel]
        cancel_des= [x[1].replace("'","").strip() for x in splitted_cancel]
        cancel_df = pd.DataFrame({"c_cancel" : c_cancel, "cancel_des": cancel_des})
        return cancel_df

In [30]:
 with open(path) as f:
    content = f.readlines()
    content = [x.strip() for x in content]
    cancel = content[49]
    splitted_cancel = [c.split(":") for c in cancel]

In [39]:
[content[49].split(')')[0] for p in content[49].split('(') if ')' in p]

['CANCELLATION_CODE\t- Reason for Cancellation - if Cancelled, Letter Present (A: Carrier, B: Weather, C: National Aviation System, D: Security']

In [40]:
content[49]

'CANCELLATION_CODE\t- Reason for Cancellation - if Cancelled, Letter Present (A: Carrier, B: Weather, C: National Aviation System, D: Security)'

In [65]:
import re
cancel = [re.search('\(([^)]+)', content[49]).group(1)][0].split(",")
cancel

['A: Carrier', ' B: Weather', ' C: National Aviation System', ' D: Security']

In [58]:
cancel.split(",")

AttributeError: 'list' object has no attribute 'split'

In [64]:
splitted_cancel = [c.split(":") for c in cancel]
splitted_cancel

[['A', ' Carrier'],
 [' B', ' Weather'],
 [' C', ' National Aviation System'],
 [' D', ' Security']]

In [66]:
def create_cancelation_code(path):
    with open(path) as f:
        content = f.readlines()
        content = [x.strip() for x in content]
        cancel = [re.search('\(([^)]+)', content[49]).group(1)][0].split(",")
        splitted_cancel = [c.split(":") for c in cancel]
        c_cancel = [x[0].replace("'","").strip() for x in splitted_cancel]
        cancel_des= [x[1].replace("'","").strip() for x in splitted_cancel]
        cancel_df = pd.DataFrame({"c_cancel" : c_cancel, "cancel_des": cancel_des})
        return cancel_df

In [67]:
create_cancelation_code(path)

  c_cancel                cancel_des
0        A                   Carrier
1        B                   Weather
2        C  National Aviation System
3        D                  Security

In [74]:
df.printSchema()

root
 |-- YEAR: string (nullable = true)
 |-- QUARTER: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY_OF_MONTH: string (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- FL_DATE: string (nullable = true)
 |-- MKT_UNIQUE_CARRIER: string (nullable = true)
 |-- MKT_CARRIER_FL_NUM: string (nullable = true)
 |-- TAIL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- ORIGIN_CITY_NAME: string (nullable = true)
 |-- ORIGIN_STATE_ABR: string (nullable = true)
 |-- ORIGIN_STATE_NM: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- DEST_CITY_NAME: string (nullable = true)
 |-- DEST_STATE_ABR: string (nullable = true)
 |-- DEST_STATE_NM: string (nullable = true)
 |-- CRS_DEP_TIME: string (nullable = true)
 |-- DEP_TIME: string (nullable = true)
 |-- DEP_DELAY: string (nullable = true)
 |-- DEP_DELAY_NEW: string (nullable = true)
 |-- DEP_DEL15: string (nullable = true)
 |-- DEP_DELAY_GROUP: string (nullable = true)
 |-- DEP_TIME_BLK: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- CRS_ARR_TIME: string (nullable = true)
 |-- ARR_TIME: string (nullable = true)
 |-- ARR_DELAY: string (nullable = true)
 |-- ARR_DELAY_NEW: string (nullable = true)
 |-- ARR_DEL15: string (nullable = true)
 |-- ARR_DELAY_GROUP: string (nullable = true)
 |-- ARR_TIME_BLK: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- CRS_ELAPSED_TIME: string (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- DISTANCE_GROUP: string (nullable = true)
 |-- CARRIER_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)
 |-- NAS_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)

In [119]:
df.select("DEP_DELAY_GROUP").dropDuplicates().show()

+---------------+
|DEP_DELAY_GROUP|
+---------------+
|            1.0|
|           null|
|            0.0|
|            9.0|
|           12.0|
|           10.0|
|           -2.0|
|            5.0|
|            6.0|
|            4.0|
|            7.0|
|           -1.0|
|           11.0|
|            2.0|
|            8.0|
|            3.0|
+---------------+

In [133]:
df.groupBy("ARR_DELAY_GROUP").count().orderBy(desc("count")).show()

+---------------+------+
|ARR_DELAY_GROUP| count|
+---------------+------+
|           -1.0|942820|
|           -2.0|915903|
|            0.0|321564|
|           null|287334|
|            1.0|108905|
|            2.0| 51949|
|            3.0| 30626|
|            4.0| 20354|
|           12.0| 15647|
|            5.0| 14416|
|            6.0| 10471|
|            7.0|  8004|
|            8.0|  6191|
|            9.0|  4905|
|           10.0|  3792|
|           11.0|  2966|
+---------------+------+

In [134]:
df.groupBy("ARR_DEL15").count().orderBy(desc("count")).show()

+---------+-------+
|ARR_DEL15|  count|
+---------+-------+
|      0.0|2180287|
|     null| 287334|
|      1.0| 278226|
+---------+-------+

In [90]:
df.filter("DEP_DEL15 is null").count()

281992

In [96]:
df.select('DISTANCE_GROUP').dropDuplicates().show()

+--------------+
|DISTANCE_GROUP|
+--------------+
|             7|
|            11|
|             3|
|             8|
|             5|
|             6|
|             9|
|             1|
|            10|
|             4|
|             2|
+--------------+

In [99]:
df.select('DISTANCE').show(10)

+--------+
|DISTANCE|
+--------+
|     363|
|     363|
|     333|
|     333|
|     333|
|     333|
|     333|
|     390|
|     390|
|     390|
+--------+
only showing top 10 rows

In [114]:
df_distance = df.select('DISTANCE_GROUP').dropDuplicates().orderBy(asc('DISTANCE_GROUP'))

In [115]:
df_distance.describe()

DataFrame[summary: string, DISTANCE_GROUP: string]

In [136]:
df.printSchema()

root
 |-- YEAR: string (nullable = true)
 |-- QUARTER: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY_OF_MONTH: string (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- FL_DATE: string (nullable = true)
 |-- MKT_UNIQUE_CARRIER: string (nullable = true)
 |-- MKT_CARRIER_FL_NUM: string (nullable = true)
 |-- TAIL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- ORIGIN_CITY_NAME: string (nullable = true)
 |-- ORIGIN_STATE_ABR: string (nullable = true)
 |-- ORIGIN_STATE_NM: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- DEST_CITY_NAME: string (nullable = true)
 |-- DEST_STATE_ABR: string (nullable = true)
 |-- DEST_STATE_NM: string (nullable = true)
 |-- CRS_DEP_TIME: string (nullable = true)
 |-- DEP_TIME: string (nullable = true)
 |-- DEP_DELAY: string (nullable = true)
 |-- DEP_DELAY_NEW: string (nullable = true)
 |-- DEP_DEL15: string (nullable = true)
 |-- DEP_DELAY_GROUP: string (nullable = true)
 |-- DEP_TIME_BLK: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- CRS_ARR_TIME: string (nullable = true)
 |-- ARR_TIME: string (nullable = true)
 |-- ARR_DELAY: string (nullable = true)
 |-- ARR_DELAY_NEW: string (nullable = true)
 |-- ARR_DEL15: string (nullable = true)
 |-- ARR_DELAY_GROUP: string (nullable = true)
 |-- ARR_TIME_BLK: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- CRS_ELAPSED_TIME: string (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- DISTANCE_GROUP: string (nullable = true)
 |-- CARRIER_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)
 |-- NAS_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)

In [139]:
df.select("DEP_DELAY_GROUP").dropDuplicates().show()

+---------------+
|DEP_DELAY_GROUP|
+---------------+
|            1.0|
|           null|
|            0.0|
|            9.0|
|           12.0|
|           10.0|
|           -2.0|
|            5.0|
|            6.0|
|            4.0|
|            7.0|
|           -1.0|
|           11.0|
|            2.0|
|            8.0|
|            3.0|
+---------------+

In [141]:
df.select("DEP_DELAY","DEP_DELAY_GROUP").dropDuplicates().show()

+---------+---------------+
|DEP_DELAY|DEP_DELAY_GROUP|
+---------+---------------+
|     86.0|            5.0|
|    210.0|           12.0|
|    706.0|           12.0|
|    865.0|           12.0|
|   1025.0|           12.0|
|   1359.0|           12.0|
|     24.0|            1.0|
|     22.0|            1.0|
|    468.0|           12.0|
|    717.0|           12.0|
|    102.0|            6.0|
|    269.0|           12.0|
|    324.0|           12.0|
|    402.0|           12.0|
|    764.0|           12.0|
|     11.0|            0.0|
|    272.0|           12.0|
|    657.0|           12.0|
|     62.0|            4.0|
|     70.0|            4.0|
+---------+---------------+
only showing top 20 rows

In [142]:
df_dep_delay = df.select("DEP_DELAY","DEP_DELAY_GROUP")

3

In [193]:
df_delay_dep=df.withColumn("DEP_DELAY",df.DEP_DELAY.cast("int")).withColumn("DEP_DELAY_GROUP",df.DEP_DELAY_GROUP.cast("int")).select("DEP_DELAY","DEP_DELAY_GROUP")

In [194]:
df_delay_dep=df_delay_dep.withColumn("Dep_test", when(df_delay_dep.DEP_DELAY < 0, -1).otherwise(floor(col("DEP_DELAY")/ 15)))

In [196]:
df_delay_dep=df_delay_dep.withColumn("test",col("DEP_DELAY_GROUP")==col("Dep_test"))

In [199]:
df_delay_dep.filter("test is null").count()

281992

In [200]:
df_delay_dep.filter("test is false").show()

+---------+---------------+--------+-----+
|DEP_DELAY|DEP_DELAY_GROUP|Dep_test| test|
+---------+---------------+--------+-----+
|      261|             12|      17|false|
|      220|             12|      14|false|
|      226|             12|      15|false|
|      197|             12|      13|false|
|      211|             12|      14|false|
|      204|             12|      13|false|
|      220|             12|      14|false|
|      -19|             -2|      -1|false|
|      195|             12|      13|false|
|      204|             12|      13|false|
|      208|             12|      13|false|
|      289|             12|      19|false|
|      426|             12|      28|false|
|      -19|             -2|      -1|false|
|      259|             12|      17|false|
|      240|             12|      16|false|
|      223|             12|      14|false|
|      578|             12|      38|false|
|      317|             12|      21|false|
|      325|             12|      21|false|
+---------+---------------+--------+-----+
only showing top 20 rows

In [201]:
df_delay_dep.filter("test is false").count()

56759

In [209]:
df_delay_dep.filter("DEP_DELAY_GROUP < -1").select("DEP_DELAY_GROUP").dropDuplicates().show()

+---------------+
|DEP_DELAY_GROUP|
+---------------+
|             -2|
+---------------+

In [204]:
df_delay_dep.select("Dep_test").describe().show()

+-------+--------------------+
|summary|            Dep_test|
+-------+--------------------+
|  count|             2463855|
|   mean|-0.28939162410125596|
| stddev|  2.6339863347450208|
|    min|                  -1|
|    max|                 187|
+-------+--------------------+

In [216]:
(df_delay_dep=df.withColumn("DEP_DELAY",df.DEP_DELAY.cast("int"))
            .withColumn("DEP_DELAY_GROUP",df.DEP_DELAY_GROUP.cast("int"))
            .select("DEP_DELAY","DEP_DELAY_GROUP"))
            .withColumn("Dep_test", when(df_delay_dep.DEP_DELAY < 0, -1)
            .otherwise(floor(col("DEP_DELAY")/ 15)))
            .withColumn("test",col("DEP_DELAY_GROUP")==col("Dep_test")))

SyntaxError: invalid syntax (206136815.py, line 1)

In [219]:
df_delay_ARR=(df.withColumn("ARR_DELAY",df.ARR_DELAY.cast("int"))
            .withColumn("ARR_DELAY_GROUP",df.ARR_DELAY_GROUP.cast("int"))
            .select("ARR_DELAY","ARR_DELAY_GROUP")
            .withColumn("ARR_test", when(col("ARR_DELAY") < 0, -1)
            .otherwise(floor(col("ARR_DELAY")/ 15)))
            .withColumn("test",col("ARR_DELAY_GROUP")==col("ARR_test")))

In [223]:
df_delay_ARR.show()

+---------+---------------+--------+-----+
|ARR_DELAY|ARR_DELAY_GROUP|ARR_test| test|
+---------+---------------+--------+-----+
|       68|              4|       4| true|
|       -2|             -1|      -1| true|
|       -6|             -1|      -1| true|
|       10|              0|       0| true|
|      -12|             -1|      -1| true|
|        7|              0|       0| true|
|       -4|             -1|      -1| true|
|       47|              3|       3| true|
|       10|              0|       0| true|
|        4|              0|       0| true|
|       -8|             -1|      -1| true|
|        2|              0|       0| true|
|        1|              0|       0| true|
|       -1|             -1|      -1| true|
|       42|              2|       2| true|
|      -15|             -1|      -1| true|
|      -18|             -2|      -1|false|
|      -17|             -2|      -1|false|
|      -18|             -2|      -1|false|
|      -16|             -2|      -1|false|
+---------+---------------+--------+-----+
only showing top 20 rows

In [226]:
df_delay_ARR.select("ARR_test").describe().show()

+-------+--------------------+
|summary|            ARR_test|
+-------+--------------------+
|  count|             2458513|
|   mean|-0.31526943318989975|
| stddev|  2.5848258236412742|
|    min|                  -1|
|    max|                 186|
+-------+--------------------+

In [233]:
import pandas as pd
def create_delay_group():
    data = []
    for i in range(-1,188):
        if i == -1:
            data.append([-1,"Early"])
        elif i == 0:
            data.append([0,"On Time"])
        else:
            data.append([i, "{} <= delay time < {}".format(i * 15, (i + 1) * 15)])
        
        
    df = pd.DataFrame(data=data, columns=['delay_group', 'delay_time_range(minutes)'])
    df.to_csv('data/delay_group.csv', index=False)

In [234]:
create_delay_group()

In [235]:
df_delay =spark.read.csv("data/delay_group.csv",header =True)

In [240]:
df_delay.show(truncate = False)

+-----------+-------------------------+
|delay_group|delay_time_range(minutes)|
+-----------+-------------------------+
|-1         |Early                    |
|0          |On Time                  |
|1          |15 <= delay time < 30    |
|2          |30 <= delay time < 45    |
|3          |45 <= delay time < 60    |
|4          |60 <= delay time < 75    |
|5          |75 <= delay time < 90    |
|6          |90 <= delay time < 105   |
|7          |105 <= delay time < 120  |
|8          |120 <= delay time < 135  |
|9          |135 <= delay time < 150  |
|10         |150 <= delay time < 165  |
|11         |165 <= delay time < 180  |
|12         |180 <= delay time < 195  |
|13         |195 <= delay time < 210  |
|14         |210 <= delay time < 225  |
|15         |225 <= delay time < 240  |
|16         |240 <= delay time < 255  |
|17         |255 <= delay time < 270  |
|18         |270 <= delay time < 285  |
+-----------+-------------------------+
only showing top 20 rows

In [241]:
[i for i in range(4)]

[0, 1, 2, 3]

In [243]:
df.printSchema()

root
 |-- YEAR: string (nullable = true)
 |-- QUARTER: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY_OF_MONTH: string (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- FL_DATE: string (nullable = true)
 |-- MKT_UNIQUE_CARRIER: string (nullable = true)
 |-- MKT_CARRIER_FL_NUM: string (nullable = true)
 |-- TAIL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- ORIGIN_CITY_NAME: string (nullable = true)
 |-- ORIGIN_STATE_ABR: string (nullable = true)
 |-- ORIGIN_STATE_NM: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- DEST_CITY_NAME: string (nullable = true)
 |-- DEST_STATE_ABR: string (nullable = true)
 |-- DEST_STATE_NM: string (nullable = true)
 |-- CRS_DEP_TIME: string (nullable = true)
 |-- DEP_TIME: string (nullable = true)
 |-- DEP_DELAY: string (nullable = true)
 |-- DEP_DELAY_NEW: string (nullable = true)
 |-- DEP_DEL15: string (nullable = true)
 |-- DEP_DELAY_GROUP: string (nullable = true)
 |-- DEP_TIME_BLK: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- CRS_ARR_TIME: string (nullable = true)
 |-- ARR_TIME: string (nullable = true)
 |-- ARR_DELAY: string (nullable = true)
 |-- ARR_DELAY_NEW: string (nullable = true)
 |-- ARR_DEL15: string (nullable = true)
 |-- ARR_DELAY_GROUP: string (nullable = true)
 |-- ARR_TIME_BLK: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- CRS_ELAPSED_TIME: string (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- DISTANCE_GROUP: string (nullable = true)
 |-- CARRIER_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)
 |-- NAS_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)

In [245]:
df.select("FL_DATE").dropDuplicates().show()

+---------+
|  FL_DATE|
+---------+
|1/30/2020|
|1/15/2020|
|1/20/2020|
| 1/8/2020|
|1/21/2020|
|1/16/2020|
|1/10/2020|
|1/22/2020|
|1/18/2020|
| 1/7/2020|
| 1/4/2020|
| 1/5/2020|
|1/25/2020|
| 1/6/2020|
|1/27/2020|
|1/28/2020|
|1/24/2020|
|1/17/2020|
|1/29/2020|
|1/11/2020|
+---------+
only showing top 20 rows

In [246]:
from pyspark.sql.functions import *

In [256]:
df1=df.withColumn("Flight", (col("FL_DATE").cast("date")))
df1.select("Flight").dropDuplicates().show()

+------+
|Flight|
+------+
|  null|
+------+

In [258]:
from datetime import datetime
from pyspark.sql.types import DateType

In [259]:

func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())

In [260]:
df1 = df.withColumn('flight_date', func(col('FL_DATE')))

In [264]:
df1.select('flight_date').show()

+-----------+
|flight_date|
+-----------+
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
| 2020-01-01|
+-----------+
only showing top 20 rows

In [266]:
string_to_date= udf(lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())

In [269]:
df1 = df.withColumn('flight_date', string_to_date(col('FL_DATE'))).drop("FL_DATE")
df1.select('flight_date').dropDuplicates().show()

+-----------+
|flight_date|
+-----------+
| 2020-01-21|
| 2020-01-17|
| 2020-01-25|
| 2020-01-10|
| 2020-01-24|
| 2020-01-04|
| 2020-01-13|
| 2020-01-11|
| 2020-01-28|
| 2020-01-22|
| 2020-01-03|
| 2020-01-07|
| 2020-01-05|
| 2020-01-06|
| 2020-01-27|
| 2020-01-30|
| 2020-01-12|
| 2020-01-19|
| 2020-01-23|
| 2020-01-16|
+-----------+
only showing top 20 rows

In [270]:
df.columns

['YEAR',
 'QUARTER',
 'MONTH',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'FL_DATE',
 'MKT_UNIQUE_CARRIER',
 'MKT_CARRIER_FL_NUM',
 'TAIL_NUM',
 'ORIGIN',
 'ORIGIN_CITY_NAME',
 'ORIGIN_STATE_ABR',
 'ORIGIN_STATE_NM',
 'DEST',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'DEST_STATE_NM',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'DEP_DELAY_NEW',
 'DEP_DEL15',
 'DEP_DELAY_GROUP',
 'DEP_TIME_BLK',
 'TAXI_OUT',
 'WHEELS_OFF',
 'WHEELS_ON',
 'TAXI_IN',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ARR_DELAY',
 'ARR_DELAY_NEW',
 'ARR_DEL15',
 'ARR_DELAY_GROUP',
 'ARR_TIME_BLK',
 'CANCELLED',
 'CANCELLATION_CODE',
 'CRS_ELAPSED_TIME',
 'ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'DISTANCE_GROUP',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY']

In [278]:
df.select('MKT_CARRIER_FL_NUM').show(5)

+------------------+
|MKT_CARRIER_FL_NUM|
+------------------+
|              5888|
|              6276|
|              4598|
|              4761|
|              5162|
+------------------+
only showing top 5 rows

In [309]:
df.select("MKT_CARRIER_FL_NUM").dropDuplicates().count()

7003

In [277]:
df.select("MKT_CARRIER_FL_NUM").dropDuplicates().count()

7003

In [365]:
df2=df.select("MKT_UNIQUE_CARRIER","MKT_CARRIER_FL_NUM","ORIGIN","DEST").dropDuplicates()

In [310]:
df.select("MKT_UNIQUE_CARRIER","MKT_CARRIER_FL_NUM","ORIGIN","DEST").dropDuplicates().count()

127667

In [305]:
df2.filter(col("MKT_UNIQUE_CARRIER")=='WN').filter(col("origin")=='SFO').filter(col("dest")=='ONT').show()

+------------------+------------------+------+----+
|MKT_UNIQUE_CARRIER|MKT_CARRIER_FL_NUM|ORIGIN|DEST|
+------------------+------------------+------+----+
|                WN|              2171|   SFO| ONT|
|                WN|              4870|   SFO| ONT|
|                WN|              2176|   SFO| ONT|
|                WN|              3022|   SFO| ONT|
|                WN|              1422|   SFO| ONT|
|                WN|              3797|   SFO| ONT|
|                WN|              2583|   SFO| ONT|
|                WN|               302|   SFO| ONT|
|                WN|              1817|   SFO| ONT|
|                WN|              1690|   SFO| ONT|
|                WN|              2996|   SFO| ONT|
|                WN|              5828|   SFO| ONT|
|                WN|              2357|   SFO| ONT|
|                WN|              5033|   SFO| ONT|
|                WN|              6215|   SFO| ONT|
|                WN|              2925|   SFO| ONT|
|                WN|              3753|   SFO| ONT|
|                WN|              4639|   SFO| ONT|
|                WN|              1260|   SFO| ONT|
|                WN|              1819|   SFO| ONT|
+------------------+------------------+------+----+
only showing top 20 rows

In [308]:
df2.filter(col("MKT_UNIQUE_CARRIER")=='WN').filter(col("MKT_CARRIER_FL_NUM")=='2171').show()

+------------------+------------------+------+----+
|MKT_UNIQUE_CARRIER|MKT_CARRIER_FL_NUM|ORIGIN|DEST|
+------------------+------------------+------+----+
|                WN|              2171|   SFO| ONT|
|                WN|              2171|   TPA| BWI|
|                WN|              2171|   BWI| PHX|
|                WN|              2171|   TPA| MDW|
|                WN|              2171|   MDW| SEA|
|                WN|              2171|   MDW| SJC|
|                WN|              2171|   STL| MDW|
|                WN|              2171|   MCI| DAL|
|                WN|              2171|   DAL| SAT|
|                WN|              2171|   SAT| STL|
|                WN|              2171|   MSY| LGA|
|                WN|              2171|   FLL| MSY|
+------------------+------------------+------+----+

In [311]:
df2.show()

+------------------+------------------+------+----+
|MKT_UNIQUE_CARRIER|MKT_CARRIER_FL_NUM|ORIGIN|DEST|
+------------------+------------------+------+----+
|                WN|              6764|   PIT| MCO|
|                WN|              5495|   SAT| DAL|
|                WN|              6348|   SAT| ELP|
|                WN|              5260|   SJC| SNA|
|                WN|              6150|   SNA| OAK|
|                WN|              2699|   SNA| SMF|
|                WN|              3540|   TPA| DEN|
|                WN|              3518|   TUL| LAS|
|                WN|              4207|   TUS| LAS|
|                WN|              2046|   OAK| LAX|
|                WN|              1896|   OAK| ONT|
|                WN|              1962|   PDX| SJC|
|                WN|              1674|   SAN| AUS|
|                WN|              3688|   SAN| OAK|
|                WN|              1973|   SAN| SMF|
|                WN|              2102|   SJC| SNA|
|                WN|               147|   SMF| PHX|
|                WN|              1138|   SNA| OAK|
|                WN|              1871|   TPA| MHT|
|                WN|               350|   ATL| MDW|
+------------------+------------------+------+----+
only showing top 20 rows

In [ ]:
def create_airline_table(path):
        """
        Function: Generate and create airlines table code
        param: path of datafile
        input: .txt file
        output: airline.csv file stored in data folder
        """
        with open(path1) as f:
            content = f.readlines()
            content = [x.strip() for x in content]
            airline = content[10:20]
            splitted_airline = [c.split(":") for c in airline]
            c_airline = [x[0].replace("'","").strip() for x in splitted_airline]
            airline_name = [x[1].replace("'","").strip() for x in splitted_airline]
            airline_df = pd.DataFrame({"c_airline" : c_airline, "airline_name": airline_name})
            return

In [353]:
path = "data/ColumnDescriptions.txt"
with open(path) as f:
            content = f.readlines()
            content = [x.strip() for x in content]
            airline = content[10:20]
            splitted_airline = [c.split(":") for c in airline]
            c_airline = [x[0].replace("'","").strip() for x in splitted_airline]
            airline_name = [x[1].replace("'","").strip() for x in splitted_airline]
            airline_df = pd.DataFrame({"c_airline" : c_airline, "airline_name": airline_name})

In [373]:
path = "data/ColumnDescriptions.txt"
with open(path) as f:
            content = f.readlines()
            content = [x.strip() for x in content]
            airline = content[10:20]
            splitted_airline = [c.split(":") for c in airline]
            c_airline = [x[0].replace("'","").strip() for x in splitted_airline]
            airline_name = [x[1].replace("'","").strip() for x in splitted_airline]
            airline_df = spark.createDataFrame(zip(c_airline, airline_name), schema=['c_airline', 'airline_name'])

In [374]:
airline_df = airline_df.join(df2,airline_df.c_airline == df2.MKT_UNIQUE_CARRIER,"inner").drop("MKT_UNIQUE_CARRIER","ORIGIN","DEST")

In [375]:
airline_df.show()

+---------+-----------------+------------------+
|c_airline|     airline_name|MKT_CARRIER_FL_NUM|
+---------+-----------------+------------------+
|       AA|American Airlines|              3998|
|       AA|American Airlines|              4242|
|       AA|American Airlines|              4246|
|       AA|American Airlines|              5054|
|       AA|American Airlines|               779|
|       AA|American Airlines|              3056|
|       AA|American Airlines|              4555|
|       AA|American Airlines|              5596|
|       AA|American Airlines|              5600|
|       AA|American Airlines|              5604|
|       AA|American Airlines|              5634|
|       AA|American Airlines|               391|
|       AA|American Airlines|               401|
|       AA|American Airlines|              2323|
|       AA|American Airlines|              2406|
|       AA|American Airlines|              4836|
|       AA|American Airlines|              5738|
|       AA|American Airlines|              5661|
|       AA|American Airlines|              5220|
|       AA|American Airlines|              5338|
+---------+-----------------+------------------+
only showing top 20 rows

In [377]:
    def create_airline_table(path1,path2):
        """
        Function: Generate and create airlines table code
        param: 
            - path1: txt file
            - path2: dataset file
        output: airline.csv file stored in data folder
        """
        df = spark.read.csv(path2, header=True)
        df2 = df.select("MKT_UNIQUE_CARRIER","MKT_CARRIER_FL_NUM","ORIGIN","DEST").dropDuplicates()
        with open(path1) as f:
            content = f.readlines()
            content = [x.strip() for x in content]
            airline = content[10:20]
            splitted_airline = [c.split(":") for c in airline]
            c_airline = [x[0].replace("'","").strip() for x in splitted_airline]
            airline_name = [x[1].replace("'","").strip() for x in splitted_airline]
            airline_df = spark.createDataFrame(zip(c_airline, airline_name), schema=['c_airline', 'airline_name'])
        return airline_df.join(df2,airline_df.c_airline == df2.MKT_UNIQUE_CARRIER,"inner")\
                        .drop("MKT_UNIQUE_CARRIER","ORIGIN","DEST")

In [378]:
path1 ='data/ColumnDescriptions.txt'
path2 ='data/jantojun2020.csv'

In [380]:
df_airline = create_airline_table(path1,path2)

In [381]:
df_airline.show()

+---------+-----------------+------------------+
|c_airline|     airline_name|MKT_CARRIER_FL_NUM|
+---------+-----------------+------------------+
|       AA|American Airlines|              3998|
|       AA|American Airlines|              4242|
|       AA|American Airlines|              4246|
|       AA|American Airlines|              5054|
|       AA|American Airlines|               779|
|       AA|American Airlines|              3056|
|       AA|American Airlines|              4555|
|       AA|American Airlines|              5596|
|       AA|American Airlines|              5600|
|       AA|American Airlines|              5604|
|       AA|American Airlines|              5634|
|       AA|American Airlines|               391|
|       AA|American Airlines|               401|
|       AA|American Airlines|              2323|
|       AA|American Airlines|              2406|
|       AA|American Airlines|              4836|
|       AA|American Airlines|              5738|
|       AA|American Airlines|              5661|
|       AA|American Airlines|              5220|
|       AA|American Airlines|              5338|
+---------+-----------------+------------------+
only showing top 20 rows

In [384]:
df.columns

['YEAR',
 'QUARTER',
 'MONTH',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'FL_DATE',
 'MKT_UNIQUE_CARRIER',
 'MKT_CARRIER_FL_NUM',
 'TAIL_NUM',
 'ORIGIN',
 'ORIGIN_CITY_NAME',
 'ORIGIN_STATE_ABR',
 'ORIGIN_STATE_NM',
 'DEST',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'DEST_STATE_NM',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'DEP_DELAY_NEW',
 'DEP_DEL15',
 'DEP_DELAY_GROUP',
 'DEP_TIME_BLK',
 'TAXI_OUT',
 'WHEELS_OFF',
 'WHEELS_ON',
 'TAXI_IN',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ARR_DELAY',
 'ARR_DELAY_NEW',
 'ARR_DEL15',
 'ARR_DELAY_GROUP',
 'ARR_TIME_BLK',
 'CANCELLED',
 'CANCELLATION_CODE',
 'CRS_ELAPSED_TIME',
 'ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'DISTANCE_GROUP',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY']

In [387]:
df.filter('CANCELLATION_CODE is not null').count()

282926

In [394]:
def create_airline_table(path1,path2):
        """
        Function: Generate and create airlines table code
        param:
            - path1: txt file
            - path2: dataset file
        output: airline.csv file stored in data folder
        """
        df = spark.read.csv(path2, header=True)
        df2 = df.select("MKT_UNIQUE_CARRIER","MKT_CARRIER_FL_NUM","ORIGIN","DEST","TAIL_NUM").dropDuplicates()
        with open(path1) as f:
            content = f.readlines()
            content = [x.strip() for x in content]
            airline = content[10:20]
            splitted_airline = [c.split(":") for c in airline]
            c_airline = [x[0].replace("'","").strip() for x in splitted_airline]
            airline_name = [x[1].replace("'","").strip() for x in splitted_airline]
            airline_df = spark.createDataFrame(zip(c_airline, airline_name), schema=['c_airline', 'airline_name'])
        return airline_df.join(df2,airline_df.c_airline == df2.MKT_UNIQUE_CARRIER,"inner")\
                        .drop("MKT_UNIQUE_CARRIER")

In [395]:
df_1 = create_airline_table(path1,path2)

In [397]:
df1.count()

2745847

In [396]:
df_1.dropDuplicates().count()

1799996